[submodule ".registry"]
	path = .registry
	url = https://github.com/firstzeroenergy/firstzeroenergy.r-universe.dev
	branch = HEAD
[submodule "fastgeojson"]
	path = fastgeojson
	url = https://github.com/firstzeroenergy/fastgeojson
